nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: teal;
  color: white;
}


.nav-links{
  display: flex;
  justify-content: space-around;

  align-items: center;
  list-style: none;
  width: 30%;
  font-size: 1.2em;
  font-weight: bold;
}
